<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css" />
</head>
<body>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<table class = "mainTable">
    <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Date</th>
    <th>Errors</th>
    </thead>
    <tbody>
    <tr th:each="tableItem : ${tableList}">
        <td><a th:text="${tableItem.id}"></a></td>
        <td><a th:text="${tableItem.name}"></a></td>
        <td><a th:text="${tableItem.startDate}"></a></td>
        <td><a th:text="${tableItem.errorMsg}"></a></td>
    </tr>
    </tbody>

</table>
<br />


<div>
    <a href ="/">Back</a>
</div>



</body>
</html>